# CMake build artifacts
build/
Debug/
Release/
RelWithDebInfo/
MinSizeRel/

# Compiled binaries
le_disasm
le_disasm.exe
*.o
*.obj
*.d

# IDE artifacts
.cproject
.project
.settings/
.vscode/*
.idea/
*.swp
*.swo
*~
